



body{
font-family: "Open Sans", sans-serif;
font-style: normal;
/* max-width: 1115px;
max-height: 641px; */
}

/* Nav Style */

nav{
display: flex;
align-items: center;
justify-content: space-between;
margin:61px 121px;
}

nav > #owner_name{
font-size: 45px;
font-weight:800;
}
nav > #owner_name > span{
color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style:none;
}
nav > ul > li > a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
nav > ul > li > a > .btn{
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    background-color: #FD6E0A;
    color: white;
    font-family:"Open Sans", sans-serif ;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

/* Banner Style */

.banner-content{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 0px 50px 0px 120px;

}
#text-content{
    max-width: 530px;
}
#media-content{
    max-width: 310px;
}
#text-content > h3{
    font-size: 40px;
    font-weight: 600;
}
#text-content > h1{
    font-weight: bold;
    font-size: 50px;
}
header{
    background: url(/images/developer.png) , url(/images/header_bg.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    margin-left: 20px;
    background-size: 5% 100%, 35% 50% ;
    /* max-width:2500px; */
}

.banner-content > #text-content > #d-btn{
    padding: 20px 25px;
    border-radius: 10px;
    background-color: #FD6E0A;
    border: none;
}
.banner-content > #text-content > #d-btn > a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.banner-content > #text-content > #c-btn{
    padding: 19px 25px;
    border-radius: 10px;
    background-color:white;
    border:1px solid #FD6E0A;
    margin-left: 15px;
}
.banner-content > #text-content > #c-btn > a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color:#FD6E0A;  
}

/* main body style */