body{
font-family: "Open Sans", sans-serif;
font-style: normal;
}

/* Nav Style */

nav{
display: flex;
align-items: center;
justify-content: space-between;
margin:61px 121px;
}

nav > #owner_name{
font-size: 45px;
font-weight:800;
}
nav > #owner_name > span{
color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style:none;
}
nav > ul > li > a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
nav > ul > li > a > .btn{
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    background-color: #FD6E0A;
    color: white;
    font-family:"Open Sans", sans-serif ;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

